{% assign navitems = site.pages | sort: 'navweight' %}
{% for node in navitems %}
    {% if node.group == 'navigation' %}
        {% if page.navid == node.navid %}
            <li class="active"><a href="{{ node.url | prepend: site.baseurl }}" class="active">{% if node.navtitle %}{{ node.navtitle }}{% else %}{{ node.title }}{% endif %}</a></li>
        {% else %}
            <li><a href="{{ node.url | prepend: site.baseurl }}">{% if node.navtitle %}{{ node.navtitle }}{% else %}{{ node.title }}{% endif %}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
{% assign navitems = nil %}